$navbarColor: #f4f4f4;
$navLinkColor: #616060;
$titleColor: #151515;
$subTitleColor:#bc694e;
$colorGray: #848484;
$workColor: #4f4f4f;
$descriptionColor:#a8a8a8;
$whiteColor: #ffffff;
$blackColor: #000000;
$paragColor: #4e4e4e;
